<mat-card>
    <button mat-raised-button (click)="refreshData()">Обновить данные</button>
</mat-card>

<table mat-table [dataSource]="valutes" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <!-- Value Column -->
    <ng-container matColumnDef="Value">
      <th mat-header-cell *matHeaderCellDef  [style.width]="'150px'"> Значение </th>
      <td mat-cell *matCellDef="let element"> {{element.Value}} </td>
    </ng-container>
  
    <!-- NumOfMoney Column -->
    <ng-container matColumnDef="NumOfMoney">
      <th mat-header-cell *matHeaderCellDef> К-во валюты </th>
      <td mat-cell *matCellDef="let element"> {{element.NumOfMoney}} </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="header-row-first-group">
        <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [attr.colspan]="4"> 
            <input type="text" class="custom-text" placeholder="Введите количество рублей" /> 
        </th>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="['header-row-first-group']; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  